
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.first {
    width: 100%;
    height: 600px;
    background: url("161991_stephen-hawking-quotes-wallpapers_1024x658_h.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.first h1 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 32px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

.second {
    width: 100%;
    height: 600px;
    background: url("phy.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.second h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 37px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
}

.bio {
    padding: 50px;
    background-color: black;
    color: white;
    font-size: 17px;
}

.achievements {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    background-color: black;
    color: white;
}
.trd{
    width: 100%;
    height: 600px;
    background: url("stars.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
.trd h2 {
    margin: auto;
    position: relative;
    font-size: 30px;
    background-color: black;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 37px;
    padding: 10px;
    color: white;
    text-align: center;
}
.thanks {
    padding: 50px;
    background-color: black;
    color: white;
    font-size: 17px;
}