body{
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
}
.head{ 
    background-color:#b30000;
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
p{
    
    font-family:'Times New Roman';
    font-size: xx-large;
    text-align: center;
}
h3{
    color: red;
    text-align: center;
}
a{
    font-size: larger;
    font-weight:bold;
    font-family: 'Times New Roman';
}
.sec{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    background-color: blue;
    font-weight: bold;
    font-size: larger;
}
.three{
    float: left;
    font-family: 'Times New Roman';
    font-size: large;
    font-weight: bold;
    background-color: aquamarine;
    padding-top: 20px;
    margin-left: 25px;
    height: 40px;
    
}
.four{
    float: left;
    font-family: 'Times New Roman';
    font-size: large;
    font-weight: bold;
    background-color: yellow;
    padding-top: 20px;
    margin-left: 25px;
    height: 40px;
    
}
.five{
    float: left;
    font-family: 'Times New Roman';
    font-size: large;
    font-weight: bold;
    background-color: beige;
    padding-top: 20px;
    margin-left: 25px;
    height: 40px;
}
.six{
    
    float:left;
    font-family: 'Times New Roman';
    font-size: large;
    font-weight: bold;
    background-color: rgb(12, 245, 245);
    padding-top: 20px;
    margin-left: 25px;
    height: 40px;
    
}
#box1,#box2,#box3,#box4{
    float: left;
    border: 5px solid;
    border-color: red;
    border-radius: 10px ;
    width: 200px;
    height: 450px;
    text-align: left;
    margin-left: 28px;
}
h2{
    font-size: 30px;
    float: left;
    background-color: crimson;
    color: whitesmoke;
    height: 40px;
    width: 200px;
    text-align: center;
}